.footer__links-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
}

@media screen and (max-width: 640px) {
.footer__links-list {
  margin-bottom: 48px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}
}